<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header id="page-top">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Alba</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/dadosjusbr" target="_blank">Sobre<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/dadosjusbr/coletores/blob/master/TUTORIAL.md"
                                target="_blank">Colabore</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container ">
                <div class="row align-items-center justify-content-md-center">
                    <div class="col-md-auto">
                        <h1 class="display-4 text-center">Alba</h1>
                        <p class="lead text-center">Sistema de orquestração do processo de coleta de dados do
                            <a href="https://dadosjusbr.org/" target="_blank">DadosJusBR</a></p>
                        
                        </p><p class="lead text-center">
                            <a class="btn btn-primary btn-lg" href="https://medium.com/dadosjusbr" role="button">Saiba
                                mais</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="collectors">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>
                    <small>{{ .Entity }}</small>
                    </h2>
                </div>
                <div class="col-md-4">
                    <p class="lead text-center">
                        <a class="btn btn-dark btn-lg" href="#" role="button">Receber notificação por email</a>
                </div>
            </div>

            <div class="table-responsive-lg">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Status</th>
                            <th scope="col">Resutados</th>
                        </tr>
                    </thead>
                    {{ range .Executions }}
                    <tbody>
                        <tr>
                            <td>{{.Date}}</td>
                            <td>{{.Status}}</td>
                            <td>{{.Result}}</td>
                        </tr>
                    </tbody>
                    {{ end }}
                </table>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto text-center">
                    <p class="text-muted">Esse projeto foi financiado pela</p>
                    <img src="static/shuttleworth.svg" width="50%" class="img-fluid" alt="Shuttleworth Foundation">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>